 

/* Form */
.formulario {
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(japon_tori.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

#form_principal {
    color: white;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.526);
    max-width: 500px;
    width: 90%;
    padding: 20px;
    border-radius: 20px;
    backdrop-filter: blur(2px);
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opinion {
    all: unset;
    text-align: left;
    padding: 10px;
    border: 2px solid #c0c0c0;
    border-radius: 16px;
    background-color: transparent;
    width: 90%;
    height: 11em;
    scrollbar-width: none;
    transition: ease .2s;

    &::placeholder {
        color: #c0c0c0;
    }

    &:focus{
        border-color: #af253e;
    }
}

#correo {
    all: unset;
    border-bottom: 2px solid #c0c0c0;
    width: 94%;
    text-align: left;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0);
    padding: 3px;
    transition: ease .2s;

    &::placeholder {
        color: #c0c0c0;
    }

    &:focus{
        border-color: #af253e;
    }
}

#boton {
    all: unset;
    background-color: #af253e;
    padding: 10px 15px;
    border-radius: 8px;
    cursor: pointer;
    width: fit-content;
    transition: ease .3s;

    &:hover{
        background-color: #7e1a2d;
    }
}

