.portada{
    height: 100vh;
    width: 100%;
    background-image: url("img/japanActividades.jpg");
    background-size: cover;
    background-position: center;
    color: #e3e3e3;
    position: relative;

    & .titulo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 100%;
        gap: 20px;
        padding-left: 10%;
        background-color: #0000005a;
    }

    & h1{
        font-size: 45px;
    }

    & h1, h3{
        text-shadow: 0px 2px 5px black;
    }
}

main{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.puntosCarrusel{
  display: flex;
  max-width: 900px;
  width: 90%;
  margin-top: 40px;
  gap: 10px;
  justify-content: end;

}

.punto{
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d3d3d3;
  transition: ease .4s;
}

.puntoActivo{
  background-color: #af253e;
}

.carrousel{
  max-width: 1000px;
  margin-top: 10px;
  width: 90%;
  aspect-ratio: 16/8;
  display: flex;
  align-items: center;
}

.carContainer{
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
}

#flechaIzq{
  background-color: #af253e;
  font-size: 40px;
  color: white;
  user-select: none;
  cursor: pointer;
  border-top-left-radius: 99999px;
  border-bottom-left-radius: 99999px;
}

#flechaDer{
  background-color: #af253e;
  font-size: 40px;
  color: white;
  user-select: none;
  cursor: pointer;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.carFotos{
  position: absolute;
  top: 0;
  left: 100%;
  display: flex;
  width: 100%;
  height: 100%;
  transition: ease-out .4s;

  & div{
    width: 50%;
    height: 100%;
    background-color: #2b2b2b;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-inline: 20px;
    gap: 10px;

    & h2{
      font-size: 35px;
    }
  }

  & img{
    width: 50%;
    object-fit: cover;
  }
}

.showFoto{
  left: 0;
}

.fotoPasada{
  left: -100%;
}

.gridImages{
  margin-top: 50px;
  max-width: 1000px;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 200px);
  gap: 15px;

  & img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;

    &:nth-child(1){
      grid-column: span 2;
    }

    &:nth-child(5){
      grid-column: 3/4;
      grid-row: 2/4;
    }
  }
}

.btnFiltros{
  margin-top: 60px;
  display: flex;
  gap: 30px;
  max-width: 900px;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;

  & button{
    all: unset;
    background-color: white;
    cursor: pointer;
    border: 1px solid #d3d3d3;
    padding: 5px 10px;
    position: relative;
    border-radius: 9999px;
    overflow: hidden;
    transition: ease .4s;

    &:hover{
      color: white;
      background-color: #af253e;
    }
  }
}

.actividades{
  display: grid;
  max-width: 1000px;
  width: 90%;
  grid-template-columns: repeat(3, 1fr);
  gap: 25px;
  margin-top: 30px;
}

.actividad{
  display: flex;
  flex-direction: column;
  gap: 10px;

  & img{
    width: 100%;
    height: 200px;
    border-radius: 10px;
    object-fit: cover;
  }
}


@media (width < 800px){
    .titulo h1{
        font-size: 35px;
    }

    .carFotos div{

      & h2{
        font-size: 28px;
      }
    }

    #flechaDer, #flechaIzq{
      font-size: 35px;
    }
}

@media (width < 600px){
    .portada .titulo{
        padding: 0;
    }

    .titulo h1{
        font-size: 32px;
        text-align: center;
    }

    .titulo h3{
        font-size: 15px;
        text-align: center;
    }

    .carFotos{

      & div{
        background-color: transparent;
        width: 100%;
        justify-content: end;
        padding-bottom: 20px;
        position: absolute;
        bottom: 0;
        left: 0;

        & *{
          text-shadow: 0px 0px 5px black;
        }
      }

      & img{
        width: 100%;
      }

    }

    #flechaIzq, #flechaDer{
      display: none;
    }

    .gridImages{
      grid-template-rows: repeat(3, 120px);

      & img{
        &:nth-child(1){
          grid-column: 1 / 3;
        }

        &:nth-child(5){
          grid-row: 2 / 4;
        }
      }
    }

    .actividades{
      grid-template-columns: 1fr 1fr;
    }
}


@media (width < 500px){
  .carrousel{
    aspect-ratio: 4/3;
  }
}

.olas{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

.waves {
  position:relative;
  width: 100%;
  margin-bottom:-7px; /*Fix for safari gap*/
  height: 100px;
}

.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
}