

body {
  padding: 0px;
  font-family: sans-serif;
  background: #ffffff
}

#navbar {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 1px solid rgba(211, 211, 211, 0.525);
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

#menu-toggle {
  display: none;
  background: none;
  border: none;
  color: black;
  font-size: 24px;
  cursor: pointer;
}

ul {
  list-style-type: none;
  overflow: hidden;
  background-color: white;
  padding-right: 20px;
}

li {
  display: inline-flex;
  float: right;
  padding: 10px;
}

li a {

  color: black;
  text-align: center;
  text-decoration: none;
}


li a:after {
  content: "";
  display: block;
  height: 3px;
  background-color: red;
  transform: scale(0, 1);
  transform-origin: center;
  transition: transform .45s;
}

li a:hover::after {
  transform: scale(1, 1);
}

.logo {
  padding: 10px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60px;
  float: left;
  padding-right: 10px;
}

/*EFECTO PARALLAX*/
.portadaTituloDes{
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  z-index: 2;
  color: white;
  font-size: 80px;
  position: relative; 

  /*Bordes h1*/
  /* border: 3px solid rgba(255, 255, 255, 0.8); 
  padding: 15px; 
  border-radius: 15px; 
  box-shadow: 0 0 30px rgba(0, 0, 0, 0.3), 0 0 10px rgba(255, 255, 255, 0.5); */
  
}
.parallaxBack {
  z-index: 1;
  background-image: url("./img/inicio2.jpg");
  background-image: linear-gradient(180deg);
  height: 80vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.waves {
  position: absolute;
  bottom: 0; 
  left: 0;
  width: 100%;
  height: 15vh;
  z-index: 3; 
  
  
  margin-bottom: -7px;  
  min-height: 100px;
  max-height: 150px;
 
  
}
.parallax > use {
  animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
  animation-duration: 7s;
}
.parallax > use:nth-child(2) {
  animation-delay: -3s;
  animation-duration: 10s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 13s;
}
.parallax > use:nth-child(4) {
  animation-delay: -5s;
  animation-duration: 20s;
}
@keyframes move-forever {
  0% {
   transform: translate3d(-90px,0,0);
  }
  100% { 
    transform: translate3d(85px,0,0);
  }
}
/*Shrinking for mobile*/
@media (max-width: 768px) {
  .waves {
    height:40px;
    min-height:40px;
  }
  .content {
    height:30vh;
  }
  h1 {
    font-size:24px;
  }
}

.tituloSubrayado{
  margin-top: 60px;
  text-align: center;
  padding: -10px;
  font-size: large;
  background-color: #ffffff;
}
.subrayado {
  border: 10 solid rgb(219, 130, 160);
  border-bottom: 5px solid rgb(219, 130, 160);
  height: 0;
  width: 300px;
  margin-top: -10px !important;

}




.tituloLogo img {
  align-items: center;
  text-align: center;
  height: 70px;
  width: auto

}

/*SLIDER*/

@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");


.container {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 400px;
  gap: 50px;


  > div {
    flex: 0 0 200px;
    border-radius: 0.5rem;
    transition: 0.5s ease-in-out;
    cursor: pointer;
    box-shadow: 1px 5px 15px #1e0e3e;
    position: relative;
    overflow: hidden;

    &:nth-of-type(1) {
      background: url("./img/destacado/buda.jpg")
        no-repeat 50% / cover;

        width: 500px;
    }
    &:nth-of-type(2) {
      background: url("./img/destacado/japon.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(3) {
      background: url("./img/destacado/cultura.jpg")
        no-repeat 50% / cover;
    }
    &:nth-of-type(4) {
      background: url("./img/destacado/tokio.jpg")
        no-repeat 50% / cover;
    }

    .content {
      font-size: 1.5rem;
      color: #fff;
      display: flex;
      align-items: center;
      padding: 15px;
      opacity: 0;
      flex-direction: column;
      height: 100%;
      justify-content: flex-end;
      background: rgb(2, 2, 46);
      background: linear-gradient(
        0deg,
        rgba(2, 2, 46, 0.6755077030812324) 0%,
        rgba(255, 255, 255, 0) 100%
      );
      transform: translatey(100%);
      transition: opacity 0.5s ease-in-out, transform 0.5s 0.2s;
      visibility: hidden;

      span {
        display: block;
        margin-top: 5px;
        font-size: 1.2rem;
      }
    }

    &:hover {
      flex: 0 0 250px;
      box-shadow: 1px 3px 15px #7645d8;
      transform: translatey(-30px);
    }

    &:hover .content {
      opacity: 1;
      transform: translatey(0%);
      visibility: visible;
    }
  }
}

/*TARJETAS DESTINOS*/
img {
  width: 100%;
  height: auto;
}

.child-page-listing {

  background-color: #ffffff;
}



h2 {
  margin-bottom: .5em;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 1em;
  padding: 50px;
}


/* hover styles */
.location-listing {
  position: relative;
}

.location-image {
  line-height: 0;
  overflow: hidden;
}

.location-image img {
  filter: blur(0px);
  transition: filter 0.3s ease-in;
  transform: scale(1.1);
}

.location-title {
  font-size: 1.5em;
  font-weight: bold;
  text-decoration: none;
  z-index: 1;
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity .5s;
  background: rgba(90, 0, 10, 0.4);
  color: white;

  /* position the text in t’ middle*/
  display: flex;
  align-items: center;
  justify-content: center;
}

.location-listing:hover .location-title {
  opacity: 1;
}

.location-listing:hover .location-image img {
  filter: blur(2px);
}


@media only screen and (max-width : 900px) {
  #links {
    display: none;
    flex-direction: row;
    width: 100%;

  }

  #menu-toggle {
    display: block;
    margin-left: 23%;
  }

  .logo {
    white-space: nowrap;
    font-size: 14px;
  }

  #navbar.active #links {
    display: flex
  }
}